.xth-menu-text-tools {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 250px;
    background: lightgreen;
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.8);
    padding: 20px;
    ul {
        margin-left: 0;
        li {
            font-size: 1.1rem;
            list-style: none;
            cursor: pointer;
            padding: 10px;
            &:hover {
                background-color: white;
            }
        }
    }
    
    .xth-popup-close { 
        padding: 7px;
        display: block; 
        border: none;
        background-color: white;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
    }
}
